
.slider-outer {
  position: relative;
  overflow: hidden;
  height: 30px;
  display: flex;
  align-items: center;
}

.slider-inner {
  position: absolute;
  left: 0;
  display: flex;

  > a > li {
    width: max-content;
  }
}
