/* Variables */

$background-blue: rgba(57, 130, 140, 0.65);
$orange: #BF8149;
$black-backgr: rgba(0, 0, 0, 0.4);
$blacker-backgr: rgba(0, 0, 0, 0.65);

$black-light: rgba(0, 0, 0, 0.4);
$black-medium: rgba(0, 0, 0, 0.65);
$black-dark: rgba(0, 0, 0, 0.75);
$black-darkest: rgba(0, 0, 0, 0.9);